
<div class="">
    <%= simple_form_for(@drawing) do |f| %>
         <%= f.error_notification %>
         <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
        <div class="form-inputs">
          <h3 class="title-new">Modifier un Dessin</h3>
              <h5>Titre</h5>
            <%= f.input :title %>
          <h5>By Default</h5>
            <%= f.input :title_2 %>
              <h5>Image de garde</h5>
            <%= f.input :image_1 %>
            <h5>Images & légendes</h5>
            <%= f.input :image_2 %>
            <%= f.input :legend_2 %>
            <%= f.input :image_3 %>
            <%= f.input :legend_3 %>
            <%= f.input :image_4 %>
            <%= f.input :legend_4 %>
            <%= f.input :image_5 %>
            <%= f.input :legend_5 %>
            <%= f.input :image_6 %>
            <%= f.input :legend_6 %>
            <%= f.input :image_7 %>
            <%= f.input :legend_7 %>
            <%= f.input :image_8 %>
            <%= f.input :legend_8 %>
            <%= f.input :image_9 %>
            <%= f.input :legend_9 %>
            <%= f.input :image_10 %>
            <%= f.input :legend_10 %>
            <%= f.input :image_11 %>
            <%= f.input :legend_11 %>
            <%= f.input :image_12 %>
            <%= f.input :legend_12 %>
            <%= f.input :image_13 %>
            <%= f.input :legend_13 %>
            <%= f.input :image_14 %>
            <%= f.input :legend_14 %>
            <%= f.input :image_15 %>
            <%= f.input :legend_15 %>
            <%= f.input :image_16 %>
            <%= f.input :legend_16 %>
            <%= f.input :image_17 %>
            <%= f.input :legend_17 %>

            <h5>Diaporama</h5>
            <%= f.input :image_18 %>
            <%= f.input :image_19%>
            <%= f.input :image_20 %>
            <%= f.input :image_21 %>
            <%= f.input :image_22 %>
            <%= f.input :image_23 %>
            <%= f.input :image_24 %>
            <%= f.input :image_25 %>
        </div>

        <div class="form-actions">
            <%= f.submit "Save changes", class: "btn btn-danger title-new" %>
        </div>
    <% end %>
</div>
