
<div class='connect_btn'>
 <% if user_signed_in? %>
          <%= link_to(image_tag("btn3.png", alt: "Camille Sauer - all rights reserved."), destroy_user_session_path, method: :delete) %>
        <% else %>
          <%= link_to(image_tag("btn3.png", alt: "Camille Sauer - all rights reserved."), new_user_session_path) %>
    <% end %>
 </div>
<div  class="test">
   <div class='top-btn  echo'>
    <%=  image_tag("test.png", alt: "Camille Sauer - all rights reserved.") %>
   </div>
   <div class='top-btn  rp'>
    <%=  image_tag("rp.png", alt: "Camille Sauer - all rights reserved.") %>
   </div>
    <% if user_signed_in? %>
      <div class="btn"><%= link_to "Ajouter", new_drawing_path %></div>
    <% end %>

    <div class="display-grid-card">
      <% @drawings.each do |drawing| %>
        <div class="drawing">
          <% if user_signed_in? %>
            <div class ="up-btn">
              <div class="btn"><%= link_to 'Supprimer', drawing_path(drawing),
                method: :delete,
                data: { confirm: 'Êtes-vous certain de vouloir supprimer?' } %></div>
              <div class="btn"><%= link_to "Editer", edit_drawing_path(drawing.id)%></div>
            </div>
          <% end %>
          <% unless drawing.title_2.present? %>
            <% else %>
              <div class='conf'>
                <h1 class="title-e"><%= drawing.title_2 %></h1>
                <%=  image_tag("code.jpg", alt: "Camille Sauer - all rights reserved.") %>
              </div>
          <% end %>
          <% unless drawing.title.present? %>
            <% else %>
              <div class='conf'>
                <h1 class='title-d'><%= link_to drawing.title, drawing_path(drawing)%></h1>
                <%= link_to image_tag("#{drawing.image_1}"), drawing_path(drawing) %>
              </div>
          <% end %>
        </div>
      <% end %>

    </div>
    <br>
    <br>
    <br>
    <br>
     <h1 id='deux' class='title-show'>LE PROCESSUS CRÉATIF</h1>
    <div class="flex-p">

      <img id='exp' class="img-top" src="https://res.cloudinary.com/dft5iblyz/image/upload/v1619992766/A0_Copy_grluwf.png" alt="Camille Sauer - all rights reserved.">

      <p class="paraph">
        <strong>L'Industrie  Artistique</strong> est une oeuvre d’art totale qui fait lien avec le monde réelle et virtuelle.
<strong>L'Industrie  Artistique</strong> repose sur un écosystème et une méthodologie de travail correspondant au différents étapes du processus créatif de l’oeuvre totale. L’aboutissement du processus est « <strong>l'Intelligence Artistique</strong> », monnaie de cette industrie. <strong>L'Industrie  Artistique</strong> prend racine dans la diversité des systèmes étudiés et mis en place en son sein. <br>
<br>
Voici les différentes étapes de cette industrie:<br>
<br>

<strong>Étape 1 </strong>-  Recherche & Modélisation / Elle consiste par l’art et le travail plastique à rassembler les informations nécessaires à la réalisation de la seconde étape. L’artiste est un chercheur, il structure et modélise sa pensée par le biais de la musique et des arts visuels. C’est par l’art que l’artiste fonde les bases de sa théorie. <br>
<br>
<strong>Étape 2 </strong>- Visualisation de l’information / Selon les techniques de la « Business Intelligence » largement utilisées au sein des entreprises, il s’agit pour l’artiste, d’ancrer son oeuvre dans le monde réel et de donner de la valeur à sa pensée par la visualisation des données et la Science dont elle dépend. <br>
<br>
<strong>Étape 3 </strong>- Recensement & archivage / Cette étape consiste au rangement et à l’archivage du système modélisé au sein de l’industrie artistique pour ainsi contribuer à son « intelligence artistique». <br>
<br>
<strong>Étape 4 </strong>-  Médiatisation & Diffusion / « l’Être réciproque » de l’artiste prend ici le relais afin de propager l’intelligence artistique issue de son industrie dans le monde virtuel.<br> « l’Être réciproque » sous le nom de « Camille Sauer 3.0 » est un avatar 3D capable de se mouvoir et de porter sa propre réflexion. En tant qu’Intelligence Artificielle, il est considéré comme le « Passeur des idées » de l’Industrie Artistique. Il réalise ainsi des vidéos dans lesquelles il prend la parole et les diffuse sur les réseaux sociaux, plateforme d’échanges largement utilisées par les sociétés du monde entier. Libre à ceux ou celles de transformer ses propos.<br>
<br>

    </div>

    <br>

    <br>
    <br>
    <div>
         <a class='icon' href="mailto:camille-sauer@hotmail.fr"><%=  image_tag("mail.png", alt: "Camille Sauer - all rights reserved.") %></a>
     <a class='icon' href="https://www.instagram.com/camillesauerart/"><%=  image_tag("instagram.png", alt: "Camille Sauer - all rights reserved.") %></a>
<br>
<br>
</div>
</div>
