
<br>
<div id="drive" class="btn"><%= link_to "Retour", drawings_path %></div>
<br>
<h1 id="gg" class='title-show'>×<%=@drawing.title%></h1>

<div class='flex-dr'>
<br>
<br>
<br>
  <%= render "components/caroussel" %>
  <br>

    <iframe width="845" height="560"
      src="<%= @drawing.vimeo_1 %>"
      frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen>
    </iframe>


    <iframe width="845" height="560"
      src="<%= @drawing.vimeo_2 %>"
      frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen>
    </iframe>

   <div class="flex-rsp flex-case img-show">
     <div>
      <%= image_tag("#{@drawing.image_7}") %>
      <p class="p-s"><%=@drawing.legend_7 %></p>
    </div>
     <div>
      <%= image_tag("#{@drawing.image_2}") %>
      <p class="p-s"><%=@drawing.legend_2%></p>
    </div>
  </div>
   <div class="flex-rsp flex-case img-show">
     <div>
      <%= image_tag("#{@drawing.image_3}") %>
      <p class="p-s"><%=@drawing.legend_3 %></p>
    </div>
     <div>
      <%= image_tag("#{@drawing.image_4}") %>
      <p class="p-s"><%=@drawing.legend_4%></p>
    </div>
  </div>
   <div class="flex-rsp flex-case img-show">
     <div>
      <%= image_tag("#{@drawing.image_5}") %>
      <p class="p-s"><%=@drawing.legend_5 %></p>
    </div>
     <div>
      <%= image_tag("#{@drawing.image_6}") %>
      <p class="p-s"><%=@drawing.legend_6%></p>
    </div>
  </div>
  <div class="flex-rsp flex-case img-show">
     <div>
      <%= image_tag("#{@drawing.image_8}") %>
      <p class="p-s"><%=@drawing.legend_8 %></p>
    </div>
     <div>
      <%= image_tag("#{@drawing.image_9}") %>
      <p class="p-s"><%=@drawing.legend_9%></p>
    </div>
  </div>
  <div class="flex-rsp flex-case img-show">
     <div>
      <%= image_tag("#{@drawing.image_10}") %>
      <p class="p-s"><%=@drawing.legend_10 %></p>
    </div>
     <div>
      <%= image_tag("#{@drawing.image_11}") %>
      <p class="p-s"><%=@drawing.legend_11%></p>
    </div>
  </div>
  <div class="flex-rsp flex-case img-show">
     <div>
      <%= image_tag("#{@drawing.image_12}") %>
      <p class="p-s"><%=@drawing.legend_12 %></p>
    </div>
     <div>
      <%= image_tag("#{@drawing.image_13}") %>
      <p class="p-s"><%=@drawing.legend_13%></p>
    </div>
  </div>
  <div class="flex-rsp flex-case img-show">
     <div>
      <%= image_tag("#{@drawing.image_14}") %>
      <p class="p-s"><%=@drawing.legend_14 %></p>
    </div>
     <div>
      <%= image_tag("#{@drawing.image_15}") %>
      <p class="p-s"><%=@drawing.legend_15%></p>
    </div>
  </div>
  <div class="flex-rsp flex-case img-show">
     <div>
      <%= image_tag("#{@drawing.image_16}") %>
      <p class="p-s"><%=@drawing.legend_16 %></p>
    </div>
     <div>
      <%= image_tag("#{@drawing.image_17}") %>
      <p class="p-s"><%=@drawing.legend_17%></p>
    </div>
  </div>

  <br>
    <div class='t-ic'>
         <a class='icon' href="mailto:camille-sauer@hotmail.fr"><%=  image_tag("mail.png", alt: "Camille Sauer - all rights reserved.") %></a>
         <a class='icon' href="https://www.instagram.com/camillesauerart/"><%=  image_tag("instagram.png", alt: "Camille Sauer - all rights reserved.") %></a>
    </div>
</div>


