<div class='flex-dr  img-show'>
   <%= image_tag("#{@drawing.image_1}") %>
   <%= image_tag("#{@drawing.image_2}") %>
</div>
<br>
<div class='flex-dr img-show'>
   <%= image_tag("#{@drawing.image_3}") %>
   <%= image_tag("#{@drawing.image_4}") %>
</div>
<br>
<div class='flex-dr img-show'>
   <%= image_tag("#{@drawing.image_5}") %>
   <%= image_tag("#{@drawing.image_6}") %>
</div>


#responsive

<div class='flex-rsp img-show-rsp'>
   <%= image_tag("#{@drawing.image_1}") %>
   <%= image_tag("#{@drawing.image_2}") %>
</div>
<br>
<div class='flex-rsp img-show-rsp'>
   <%= image_tag("#{@drawing.image_3}") %>
   <%= image_tag("#{@drawing.image_4}") %>
</div>
<br>
<div class='flex-rsp img-show-rsp'>
   <%= image_tag("#{@drawing.image_5}") %>
   <%= image_tag("#{@drawing.image_6}") %>
</div>


